server:
  port: 8000

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/dispatch_delivery
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
  data:
    redis:
      host: localhost
      port: 6379
  jackson:
    property-naming-strategy: SNAKE_CASE

logging:
  level:
    root: INFO
    org.springframework.web: INFO

google:
  maps:
    api-key: ${GOOGLE_MAP_API_KEY:default-value}
